# IDE
.idea/

# Node.js
node_modules/
npm-debug.log*

# Python/uv
uv.lock
python-version
__pycache__/
*.pyc

# Env
.env

# Config
credentials.json

# Database
targets.db

# Local data
recording.eeg.info